@using Microsoft.AspNetCore.Components
@inherits BlazingComponents.Authentication.Areas.Components.LoginBase


<div class="user-info">
    @if (UserState.CurrentUser == null)
    {
        <text>...</text>
    }
    else if (UserState.CurrentUser.IsLoggedIn)
    {
        <div>
            <span class="username">You are currently logged in as @UserState.CurrentUser.DisplayName</span>
            <button class="btn btn-primary" onclick="@UserState.SignOut">Sign out</button>
        </div>
    }
    else
    {
        <form onsubmit="@SignIn">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" id="usernameInput" class="form-control" placeholder="Username" bind="@Username" required />
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" bind="@Password" required />
                <span class="text-danger">@ErrorMessage</span>
            </div>
            <button class="btn btn-primary">Sign in</button>
        </form>
    }
</div>
