@using BlazorEssentials.Authentication.Models
@using Microsoft.AspNetCore.Components
@inherits BlazorEssentials.Authentication.Areas.Components.RegisterBase


<div class="user-info">
    @if (UserState.CurrentUser == null)
    {
        <text>...</text>
    }
    else if (UserState.CurrentUser.IsLoggedIn)
    {
        <div>
            <span class="username">You are currently logged in as @UserState.CurrentUser.DisplayName</span>
            <button class="btn btn-primary" onclick="@UserState.SignOut">Sign out</button>
        </div>
    }
    else
    {
        <form onsubmit="@RegisterUser">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" id="usernameInput" class="form-control" placeholder="Username" bind="@Username" required />
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" bind="@Password" required />
            </div>
            <div class="form-group">
                <label for="confirmPasswordInput">Password</label>
                <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm Password" bind="@ConfirmPassword" required />
            </div>
            <span class="text-danger">@ErrorMessage</span>
            <button class="btn btn-primary">RegisterUser</button>
        </form>
    }
</div>