@using System
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components
@typeparam T
@inherits AutoTableComponentBase<T>

<div>
    <table class="@TableClass">
        <thead>
            <tr>
                @foreach (var prop in typeof(T).GetProperties())
                {
                    <th>@prop.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr class="@GetRowClass(item)" ondblclick="@( e => ExpandItem(item) )" onclick="@(e => SelectItem(item))">
                    @foreach (var prop in item.GetType().GetProperties())
                    {
                        <td>@prop.GetValue(item, null)</td>
                    }
                </tr>
                if (IsExpanded(item) && ExpandedRowTemplate != null)
                {
                    <tr>
                        @ExpandedRowTemplate(item)
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
