@using System
@using System.Linq
@using Cloud_In_A_Box.Models;
@inject IJSRuntime JsRuntime;
@inherits SettingsBase

<div class="row">
    <div class="col">
        <h3>Settings</h3>
        <form>
            <div class="form-row">
                <div class="form-group">
                    <div class="input-field">
                        <label for="text_input_1">
                            Text Input 1
                        </label>
                        <input type="text" id="text_input_1" class="form-control validate" bind="@ApplicationSettings.TextOption1" />
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            <label for="text_input_2">
                                Text Input 2
                            </label>
                            <input type="text" id="text_input_2" class="form-control validate" bind="@ApplicationSettings.TextOption2" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-field">
                            <label for="text_input_3">
                                Text Input 3
                            </label>
                            <input type="text" id="text_input_3" class="form-control validate" bind="@ApplicationSettings.TextOption3" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <div class="input-field">
                            <input type="number" id="num_input_1" class="form-control validate" bind="@ApplicationSettings.NumberOption1" placeholder="Num1" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-field">
                            <input type="number" id="num_input_2" class="form-control validate" bind="@ApplicationSettings.NumberOption2" placeholder="Num2" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-field">
                            <input type="number" id="num_input_3" class="form-control validate" bind="@ApplicationSettings.NumberOption3" placeholder="Num3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="switch ml-2">
                    <label>
                        Boolean Input 1
                        <input type="checkbox" class="" bind="@ApplicationSettings.BoolOption1" />
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch ml-2">
                    <label>
                        Boolean Input 2
                        <input type="checkbox" class="" bind="@ApplicationSettings.BoolOption2" />
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch ml-2">
                    <label>
                        Boolean Input 3
                        <input type="checkbox" class="" bind="@ApplicationSettings.BoolOption3" />
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class=" ml-2">
                    <label for="check-option-1">
                        <input class="filled-in" id="check-option-1" type="checkbox" bind="@ApplicationSettings.BoolOption1" />
                        <span class="">
                            Boolean Input 1
                        </span>
                    </label>
                </div>
                <div class=" ml-2">
                    <label for="check-option-2">
                        <input class="filled-in" id="check-option-2" type="checkbox" bind="@ApplicationSettings.BoolOption2" />
                        <span class="">
                            Boolean Input 2
                        </span>
                    </label>
                </div>

                <div class=" ml-2">
                    <label for="check-option-3">
                        <input class="filled-in" id="check-option-3" type="checkbox" bind="@ApplicationSettings.BoolOption3" />
                        <span class="">
                            Boolean Input3
                        </span>
                    </label>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>
                        Enum Select 1
                        <select class="form-control" bind="@ApplicationSettings.EnumOption1">
                            @foreach (var entry in Enum.GetValues(typeof(SettingsEnum)))
                            {
                                <option value="@entry">@entry.ToString()</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Enum Select 2
                        <select class="form-control" bind="@ApplicationSettings.EnumOption2">
                            @foreach (var entry in Enum.GetValues(typeof(SettingsEnum)))
                            {
                                <option value="@entry">@entry.ToString()</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Enum Select 3
                        <select class="form-control" bind="@ApplicationSettings.EnumOption3">
                            @foreach (var entry in Enum.GetValues(typeof(SettingsEnum)))
                            {
                                <option value="@entry">@entry.ToString()</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-primary"  type="button" onclick="@ApplySettings">Apply</button>
            </div>
        </form>
    </div>
    <div class="col">
        <h4>Settings as JSON:</h4>
        <pre>
        <code>
                @GetAppSettingsAsJson()
            </code>
        </pre>
    </div>
</div>


