@using System
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Components
@typeparam T
@inherits BlazingComponents.Lib.Areas.Components.BlazorTableBase<T>
<div>
    <table class="table">
        <thead>
            <tr>@TableHeader</tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr @key="ItemKeyDelegate(item)" class="@GetRowClass(item)" @ondblclick="@( e => ExpandItem(item) )" @onclick="@( e => SelectItem(item))">
                    @RowTemplate(item)
                </tr>
                if (IsExpanded(item))
                {
                    <tr @key="ExpandedItemKeyDelegate(item)">
                        @ExpandedRowTemplate(item)
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>@TableFooter</tr>
        </tfoot>
    </table>
</div>